body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nameOfTask {
  margin: 0px;
}

.changeNameInput {
  height: 20px;
  font-size: 1.17em;
  font-weight: bold;
  margin: 0px;
}

.changeNameButton {
  padding: 1px;
}

.task {
  margin-bottom: 20px;
}
